<div class="container">
<section id="contact" class="row contact-section">
  <div class="col-xs-12 col-sm-6 contact-message panel panel-default">
	  <h3 class="section-heading panel-heading">Fale com a gente</h3>
	  <div class="panel-body">
	  	<form class="form-horizontal" action="//formspree.io/contato@cafe-do.com" method="POST">

            <fieldset>
              <div class="form-group">
                <label for="contact-name" class="col-lg-2 control-label">Nome</label>
                <div class="col-lg-10">
                  <input id="contact-name" name="Nome" type="text" class="form-control" placeholder="Seu nome aqui">
                </div>
              </div>

              <div class="form-group">
                <label for="contact-email" class="col-lg-2 control-label">E-mail</label>
                <div class="col-lg-10">
                  <input id="contact-email" name="_replyto" type="text" class="form-control" placeholder="ex.: voce@email.com">
                </div>
              </div>
              <div class="form-group">
                <label for="contact-message" class="col-lg-2 control-label">Mensagem</label>
                <div class="col-lg-10">
                  <textarea id="contact-message" name="Mensagem:" class="form-control" rows="6" ></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Limpar</button>
                  <button type="submit" class="btn btn-success">Enviar</button>
                </div>
              </div>
            </fieldset>
          </form>
	  </div>
  </div>
  <div class="col-xs-12 col-sm-6 contact-hire panel panel-default">
  	  <h3 class="section-heading panel-heading">Quer contratar um serviço?</h3>
  	  <p class="panel-body"></p>
  </div>
</section>
</div>