<section id="contact" class="contact-section clearfix">
  <div class="col-xs-12 col-sm-6 contact-message">
    <h3 class="section-heading">Fale com a gente</h3>
      <p>Envie sua mensagem direto para nosso e-mail <a href="mailto:contato@cafe-do.com">contato@cafe-do.com</a> ou pelo telefone <a href="+553134479878">+55 (31) 3447-9878</a>.</p>
      <form class="form-horizontal" action="//formspree.io/contato@cafe-do.com" method="POST">
        <fieldset>
          <div class="form-group">
            <label for="contact-name" class="col-lg-2 control-label">Nome</label>
            <div class="col-lg-10">
              <input id="contact-name" name="Nome" type="text" class="form-control" placeholder="Seu nome aqui">
            </div>
          </div>

          <div class="form-group">
            <label for="contact-email" class="col-lg-2 control-label">E-mail</label>
            <div class="col-lg-10">
              <input id="contact-email" name="_replyto" type="text" class="form-control" placeholder="ex.: voce@email.com">
            </div>
          </div>
          <div class="form-group">
            <label for="contact-message" class="col-lg-2 control-label">Mensagem</label>
            <div class="col-lg-10">
              <textarea id="contact-message" name="Mensagem:" class="form-control" rows="6" ></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Limpar</button>
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </div>
        </fieldset>
      </form>
  </div>
  <div class="col-xs-12 col-sm-6 contact-hire">
    <h3 class="section-heading">Ainda n&atilde;o sabe o que precisa?</h3>
    <p>Nosso formul&aacute;rio nos ajuda a entender sua necessidade... e n&atilde;o demora, &eacute; o tempo de colocar a &aacute;gua pra ferver!</p>
    <a href="https://docs.google.com/forms/d/10aivslAIEKK7CPpZ25d7ggk5T3SeTLg6cVqXZq03Gp4/viewform" target="_blank" class="btn-form btn btn-success btn-lg">Preencher formul&aacute;rio</a>
  </div>
</section>