{% if site.show_contact_form %}
<section id="contact-form" class="contact-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center">{{ site.contact_form_title }}</h3>
        <form class="form-horizontal" action="//formspree.io/{{ site.email }}" method="POST">
        <fieldset>
          <div class="form-group">
            <label for="contact-name" class="col-lg-2 control-label">{{ site.contact_form_name_label }}</label>
            <div class="col-lg-10">
              <input id="contact-name" name="Nome" type="text" class="form-control" placeholder="{{ site.contact_form_name_placeholder }}">
            </div>
          </div>

          <div class="form-group">
            <label for="contact-email" class="col-lg-2 control-label">{{ site.contact_form_email_label }}</label>
            <div class="col-lg-10">
              <input id="contact-email" name="_replyto" type="text" class="form-control" placeholder="{{ site.contact_form_email_placeholder }}">
            </div>
          </div>
          <div class="form-group">
            <label for="contact-message" class="col-lg-2 control-label">{{ site.contact_form_message_label }}</label>
            <div class="col-lg-10">
              <textarea id="contact-message" name="Mensagem:" class="form-control" rows="6" ></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
              <button type="reset" class="btn btn-default">{{ site.contact_form_reset_button_text }}</button>
              <button type="submit" class="btn btn-success">{{ site.contact_form_send_button_text }}</button>
            </div>
          </div>
        </fieldset>
      </form>
      </div>
    </div>
  </div>
</section>
{% endif %}