<header id="top" class="jumbotron-header" {% if site.jumbotron_background_image_filename %}style="background-image: url('{{ site.jumbotron_background_image_filename }}')"{% endif %}>
  <div class="text-vertical-center">
    {% if site.logo_image_url %}<img class="img-logo" src="{{ site.logo_image_url | prepend: site.baseurl }}" width="{{ site.logo_image_width }}">{% endif %}
    <h1 {% if site.hide_company_name %}class="hidden"{% endif %}>{{ site.company_name }}</h1>
    <h2>{{ site.jumbotron_short_text }}</h2>
    {% if site.jumbotron_long_text %}
    <p>{{ site.jumbotron_long_text }}</p>
    {% endif %}
    <br>
    <a href="{{ site.jumbotron_call_to_action_action }}" class="btn btn-dark btn-lg">{{ site.jumbotron_call_to_action }}</a>
  </div>
</header>