{% if site.show_services %}
<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>{{ site.services_title }}</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa {{ site.services_design_icon_class }} fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>{{ site.services_design_title }}</strong>
                </h4>
                <p>{{ site.services_design_text }}</p>
                <a href="{{ site.services_design_action }}" class="btn btn-light">{{ site.services_action_text }}</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa {{ site.services_web_icon_class }} fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>{{ site.services_web_title }}</strong>
                </h4>
                <p>{{ site.services_web_text }}</p>
                <a href="{{ site.services_web_action }}" class="btn btn-light">{{ site.services_action_text }}</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa {{ site.services_branding_icon_class }} fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>{{ site.services_branding_title }}</strong>
                </h4>
                <p>{{ site.services_branding_text }}</p>
                <a href="{{ site.services_branding_action }}" class="btn btn-light">{{ site.services_action_text }}</a>
              </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
{% endif %}