<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        {% if site.show_address %}
        <h4><strong>{{ site.address_title }}</strong></h4>
        <p>
          {{ site.address_line1 }}
          {% if site.address_line2 %}<br>{{ site.address_line2 }}{% endif %}
          {% if site.address_line3 %}<br>{{ site.address_line3 }}{% endif %}
        </p>
        {% endif %}
        <ul class="list-unstyled">
          {% if site.show_phone_number %}
            <li><i class="fa fa-phone fa-fw"></i> <a href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a></li>
          {% endif %}
          {% if site.show_email %}
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
        <br>
        {% if site.show_socialnetworks %}
        <ul class="list-inline">
          {% if site.facebook_username %}
          <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a></li>
          {% endif %}
          {% if site.twitter_username %}
          <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a></li>
          {% endif %}
          {% if site.github_username %}
          <li><a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a></li>
          {% endif %}
        </ul>
        {% endif %}
        <hr class="small">
        <p class="text-muted">{{ site.copyright_text }} {{ site.company_name }} {{ site.time | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>