<header id="site-header">
	<nav id="header-nav" class="navbar navbar-default">
    	<div class="container">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
    			<a class="navbar-brand" href="{{ site.baseurl }}/">
    				<img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" width="150" height="37" alt="{{ site.title }}">
				</a>
			</div> <!-- /.navbar-header -->

		    <div class="collapse navbar-collapse" id="collapsable-nav">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#jobs">&Uacute;ltimos Trabalhos</a></li>
		        <li><a href="#services">Servi&ccedil;os</a></li>
		        <li><a href="#contact">Fale com a gente</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
    	</div> <!-- /.container-fluid -->
    </nav>
</header>
